
<!-- Top -->
<section class="homepage" id="top">
  <%= render 'home/top/top' %>
</section>

<!--~~~~~~~~-->
<!-- Navbar -->
<!--~~~~~~~~-->
<%= render 'navigation/navbar' %>


<!-- About -->
<section class="homepage" id="about">
  <%= render 'home/about/about' %>
</section>

<!-- Work -->
<section class="homepage" id="work">
  <%= render 'home/work/work' %>
</section>

<!-- Testimonials -->
<section class="homepage" id="testimonials">
  <%= render 'home/testimonials/testimonials' %>
</section>

<!-- Contact -->
<section class="homepage" id="contact">
  <%= render 'home/contact/contact' %>
</section>

<!-- Footer -->
<%= render 'navigation/footer' %>