<%= render 'navigation/project_navbar' %>
<main class="page-project" id="page-inked-voices">
  <%= image_tag('/images/work/project-samples/inked-voices/1.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/2.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/3.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/4.png') %>

<!-- 
  [[visual thing]]
  <h1>Inked Voices</h1>
  <h2>Restructuring the structure and content to increase sign ups</h2>

  <article class="project-phase summary row">
    <section>
      <h2>Summary</h2>
      <p>Blah blah blah</p>
    </section>
    <section class="project-step col-md-6">
      <h3>Problem</h3>
      <p>New visitors were not signing up because the website's <strong>text-heavy and confusing layout</strong> obscured the site's value.</p>
    </section>

    <section class="project-step col-md-6">
      <h3>Solution</h3>
      <p>We <strong>optimized the content and layout</strong> so the core features and benefits were clearer. In addition, we added more sign up spots.</p>
    </section>
    
    <div class="col-md-4"></div>
    <section class="project-step col-md-4">
      <h3>My role</h3>
      <p>I focused on <strong>content strategy</strong>, <strong>information architecture</strong>, and <strong>wireframing</strong> to redesign the website and reprioritize the site's content</p>
    </section>
    <div class="col-md-4"></div>
  </article>
  

  <article class="project-phase discover">
    <section>
      <h2>Understanding our users</h2>
      <p>We had to understand our users</p>
    </section>

    <section class="project-step col-md-4">
      <h3>Understanding the users</h3>
      <p><strong>We collected data from 94 people</strong> to find potential users who we interviewed to understand their behavior.</p>
    </section>

    <section class="project-step col-md-4">
      <h3>Content audit and card sorting</h3>
      <p>To see how users expected the site to be laid out, we gave them navigation and content items from the site and <strong>had users categorize the items.</strong></p>
    </section>

    <section class="project-step col-md-4">
      <h3>Contextual inquiry</h3>
      <p>We <strong>watched users use the site</strong> while they spoke their thoughts out loud, to <strong>understand from their point of view.</strong></p>
    </section>
  </article>
  

  <article class="project-phase define">

    <section class="project-step">
      <h3>Affinity mapping & personas</h3>
      <p>We <strong>synthesized interview data</strong> into affinity maps to see the big picture patterns</p>
    </section>
    <section class="project-step">
      <h3>Restructuring the site map</h3>
      <p><strong>Based on our research</strong> from the card sorts, we improved the site's structure</p>
    </section>
    <section class="project-step">
      <h3>Feature prioritization & tech research</h3>
      <p>We ranked features in importance and feasibility based on users' needs and <strong>technical feasibility</strong>.</p>
    </section>
  </article>
  

  <article class="project-phase develop">
    <section class="project-step">
      <h3>Iterative team design & wireframing</h3>
      <p>Through design studio exercises we created a set of <strong>wireframes based on our site map</strong>, which we converted to high fidelity wireframes.</p>
    </section>
    <section class="project-step">
      <h3>Prototyping, testing & iterating</h3>
      <p>We put our successively <strong>higher fidelity</strong> designs through <strong>usability testing</strong> to optimize the design.</p>
    </section>
  </article>

  <article class="project-phase deliver">
    <section class="project-step">
      <h3>Final</h3>
      <p></p>
    </section>
  </article> -->
  


</main>