<%= render 'navigation/project_navbar' %>
<main class="page-project" id="page-inked-voices">

  <!-- title -->
  <section class="col-md-12"> 
    <%= image_tag('work/project-samples/inked-voices/title.png') %>
  </section>
  
  <!-- summary -->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h3>Problem</h3>
      <p>New visitors were not signing up because the website’s text-heavy and confusing layout obscured the site’s value.</p>
    </div>
    <div class="col-md-4">
      <h3>Solution</h3>
      <p>We optimized the content and layout so that the core features and benefits were clearer. In addition we added more sign up spots.</p>
    </div>
    <div class="col-md-4">
      <h3>My role</h3>
      <p>I focused on content strategy, information architecture, and wireframing to redesign the website and reprioritize the site’s content.</p>
    </div>
  </section>

  <!-- interviewing users and seeing how the use the website-->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h3>Understanding the users</h3>
      <p>We collected data from 94 people to find potential users who we interviewed to understand their behavior. We also watched users use the site, thinking out loud, to understand from their point of view. </p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/affinity.jpg') %>
    </div>
    
    <%= image_tag('work/project-samples/inked-voices/interview-results.png') %>
  
  </section>


  <!-- IA & Content strategy-->
  <section class="col-md-12"> 
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/card-sort.png') %>
    </div>
    <div class="col-md-4">
      <h3>Information Architecture & Content Strategy</h3>
      <p>To see how users expected the site to be laid out, we gave them navigation and content items from the site and had users categorize the items.</p>
    </div>

    <div class="col-md-12">
      <%= image_tag('work/project-samples/inked-voices/site-map.png') %>
    </div>

  </section>


  <!-- wireframing -->
  <section class="col-md-12"> 
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/wireframes.jpg') %>
    </div>
    <div class="col-md-4">
      <h3>Wireframing</h3>
      <p>Through design studio exercises, we created a set of wireframes based on our site map, which we converted to high fidelity wireframes.</p>
    </div>
  </section>

  <section class="col-md-12">
    <div class="col-md-4">
      <h3>Prototyping, Testing & Iterating</h3>
      <p>We put our successively higher fidelity designs  through usability testing to optimize the design.</p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/increasing-fidelity.png') %>
    </div>
  </section>

  <!-- final wireframes -->
  <section class="col-md-12">
    <%= image_tag('work/project-samples/inked-voices/cover-half-full.png') %>
  </section>


</main>