<%= render 'navigation/navbar' %>
<%= render 'navigation/projects_secondary_nav' %>

<main class="page-project" id="page-inked-voices">

  <!-- title -->
  <section class="col-md-12"> 
    <%= image_tag('work/project-samples/inked-voices/title.png') %>
  </section>
  
  <!-- summary -->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h2>Problem</h2>
      <p>New visitors were not signing up because the website’s <strong>text-heavy and confusing layout</strong> obscured the site’s value.</p>
    </div>
    <div class="col-md-4">
      <h2>Solution</h2>
      <p>We <strong>optimized the content and layout</strong> so that the core features and benefits were clearer. In addition we added more sign up spots.</p>
    </div>
    <div class="col-md-4">
      <h2>My role</h2>
      <p>I focused on <strong>content strategy, information architecture, and wireframing</strong> to redesign the website and reprioritize the site’s content.</p>
    </div>
  </section>

  <!-- interviewing users and seeing how the use the website-->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h2>Understanding the users</h2>
      <p><strong>We collected data from 94 people</strong> to find potential users who we interviewed to understand their behavior. We also <strong>watched users use the site</strong>, thinking out loud, to understand from their point of view. </p>
      <br>
      <p class="caption"><strong>Right</strong>: My team and I create an affinity map to find patterns in user behavior.</p>
      <p class="caption"><strong>Below</strong>: The persona of the main user my team created to make tangible the user we wanted to focus on designing for.</p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/affinity.jpg') %>
    </div>
    
    <%= image_tag('work/project-samples/inked-voices/persona.jpg') %>
  
  </section>


  <!-- IA & Content strategy-->
  <section class="col-md-12"> 
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/card-sort.png') %>
    </div>
    <div class="col-md-4">
      <h2>Information Architecture & Content Strategy</h2>
      <p>To see how users expected the site to be laid out, we gave them navigation and content items from the site and had users categorize the items.</p>
      <br>
      <p class="caption"><strong>Left</strong>: I used the iOS app <a href="https://itunes.apple.com/us/app/grafio-3-diagrams-ideas/id382418196?mt=8">Grafio</a> for a digital card sort, quickly and efficiently capturing multiple users' results clearly.</p>
      <p class="caption"><strong>Below</strong>: I created the new site map for Inked Voices in Sketch 3.</p>
    </div>

    <div class="col-md-12">
      <%= image_tag('work/project-samples/inked-voices/site-map.png') %>
    </div>

  </section>


  <!-- wireframing -->
  <section class="col-md-12"> 
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/wireframes.jpg') %>
    </div>
    <div class="col-md-4">
      <h2>Wireframing</h2>
      <p>Through design studio exercises, we created a set of wireframes based on our site map, which we converted to high fidelity wireframes.</p>

      <br>

      <p class="caption"><strong>Left</strong>: We sketched via design charrettes in order to quickly brainstorm ideas and harness our creativity before converging on a low-fidelity sketch.</p>
    </div>
  </section>

  <section class="col-md-12">
    <div class="col-md-4">
      <h2>Prototyping, Testing & Iterating</h2>
      <p>We put our successively higher fidelity designs through usability testing to optimize the design.</p>

      <br>

      <p class="caption"><strong>Right</strong>: We continually tested our increasingly detailed prototypes and iterated upon our designs before reaching our final mockup.</p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/inked-voices/increasing-fidelity.png') %>
    </div>
  </section>

  <!-- TODO:
  maybe insert som before and after shots 
  -->

  <!-- final wireframes -->
  <section class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6 centered">
      <h2>Final mockups</h2>
      <p>Below are the main screens of the final mockups we delivered at the project's completion.</p>
    </div>
    <div class="col-md-3"></div>
    <%= image_tag('work/project-samples/inked-voices/cover-almost-full.png') %>
  </section>


</main>