<%= render 'navigation/project_navbar' %>
<main class="page-project" id="page-inked-voices">
  <%= image_tag('/images/work/project-samples/inked-voices/1.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/2.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/3.png') %>
  <%= image_tag('/images/work/project-samples/inked-voices/4.png') %>
</main>