<%= render 'navigation/navbar_proj' %>
<main class="page-project" id="page-linkedin">

  <!-- title -->
  <section class="col-md-12"> 
    <%= image_tag('work/project-samples/linkedin/title.png') %>
  </section>

  <!-- summary -->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h2>Problem</h2>
      <p>People who want to gain professional skills don't have many options outside of jobs while people who have passion projects have trouble recruiting talent to realize these projects.</p>
    </div>
    <div class="col-md-4">
      <h2>Solution</h2>
      <p>We designed a platform that allowed people to post project listings for people to apply to. A structured setting also ensured people could easily manage their projects and work.</p>
    </div>
    <div class="col-md-4">
      <h2>My role</h2>
      <p>Aside from being the project manager, I focused on user research, information architecture, interaction design, and usability testing to design the native mobile app from a holistic perspective.</p>
    </div>

    <%= image_tag('work/project-samples/linkedin/gantt-chart.png') %>
  </section>

  <!-- interviewing users and seeing how the use the website-->
  <section class="col-md-12"> 
    <div class="col-md-8">
      <%= image_tag('work/project-samples/linkedin/comp-analysis.png') %>
    </div>
    <div class="col-md-4">
      <h2>Understanding the users</h2>
      <p>We screened for people and interviewed them. In addition, we researched the market for companies with similar value propositions.</p>

      <br>
      <p class="caption"><strong>Above</strong>: As the project manager, I kept us on track with a Gantt chart schedule.</p>
      <p class="caption"><strong>Left</strong>: The results from our comparative and competitive analysis. There appeared to be no such platform out there that filled our users' needs.</p>
      <p class="caption"><strong>Below</strong>: We mapped out the user stories and created a journey map to make tangible the experience of using the app from beginning to end.</p>
    </div>
    <%= image_tag('work/project-samples/linkedin/journey-map.png') %>
  </section>

  <!-- IA -->
  <section class="col-md-12"> 

    <div class="col-md-4">
      <h2>Information Architecture & Final Design</h2>
      <p>Before we designed the visuals of the app we used object-oriented UX to lay out content on the various pages and create a general outline of the architecture of our app.</p>

      <br>

      <p class="caption"><strong>Right</strong>: I created this appflow to remind us of our architecture as we worked on fleshing out the details.</p>
      <p class="caption"><strong>Below</strong>: The final high fidelity app flow.</p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/linkedin/app-flow-lofi.png') %>
    </div>
    <%= image_tag('work/project-samples/linkedin/app-flow.png') %>
  </section>


  <!-- Final wireframes -->

</main>