<%= render 'navigation/navbar_proj' %>
<main class="page-project" id="page-personal-website">
  
  <h1 style="color:red;">UNDER CONSTRUCTION</h1>

  <!-- title -->
  <section class="col-md-12">
    <!-- cover image -->
  </section>

  <!-- summary -->
  <section class="col-md-12"> 
    <div class="col-md-4">
      <h2>Problem</h2>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2>Solution</h2>
      <p></p>
    </div>
    <div class="col-md-4">
      <h2>My role</h2>
      <p></p>
    </div>
  </section>

  <!-- research to understand problem -->
  <!-- what needs to be in a personal website? what do other sites have? -->
  <section class="col-md-12">
    <!-- research -->
    <div class="col-md-4">
      <h2>Research</h2>
      <p>
        I looked at the online portfolios and websites of other UX designers. In addition I read articles on what should be on a personal webpage or portfolio. I kept all my notes, images, and screenshots in my Evernote account so that I could quickly access them, and store them just in case I need them.
      </p>
    </div>
    <div class="col-md-8">
      <%= image_tag('work/project-samples/personal-website/research.png') %>
    </div>
  </section>

 
  <!-- define -->
  <section class="col-md-12">
<!--     <h1>Define</h1>
 -->
    <!-- site map -->
    <div class="col-md-8">
      <%= image_tag('work/project-samples/personal-website/site-map.png') %>
    </div>
    <div class="col-md-4">
      <h2>Site map</h2>
      <p>
        After understanding what was needed in a personal site, I created a site map with pages, sections, and content. This site map is like a road map to the various sections I would need to code up and produce content for, and allowed me to see the project from a top-down view.
      </p>
    </div>

  </section>

  <section class="col-md-12">
    <!-- wireframing -->

    <div class="col-md-4">
      <%= image_tag('work/project-samples/personal-website/lofi.jpg') %>
    </div>

    <div class="col-md-4">
      <h2>Wireframing</h2>
      <p>
        After defining the content and their architectural relation to one another, I sketched out a variety of pages with Sharpie on paper. Eventually I created more medium fidelity wireframes on Sketch 3 so that I had a better visual idea of my eventual website. In doing this, I saw the parallels between design and HTML/CSS: setting out the contents in IA was the HTML: content, while wireframing created the CSS: the style.
      </p>
    </div>

    <div class="col-md-4">
      <%= image_tag('work/project-samples/personal-website/wireframes.png') %>
    </div>
  </section>


  <!-- developing -->
  <section class="col-md-12">
<!--     <h1>Development</h1>
 -->
    <!-- modular code -->

    <div class="col-md-4">
      <h2>Modular code</h2>
      <p>
        I coded up my website with a Ruby-on-Rails framework with some Bootstrap to get me started. I created templates for my project sample so that the styles could be consistent and I would know how to create new project pages as I built my portfolio. 
      </p>

      <p>
        I made my code modular by splitting up different sections and partials which would be rendered with the Ruby-on-Rail engine. This allowed me to see the whole website from the big picture view, instead of seeing a jumble of markup.
      </p>
    </div>

    <div class="col-md-8">
      <%= image_tag('work/project-samples/personal-website/partials.png') %>
    </div>

    <div class="col-md-12">
      <%= image_tag('work/project-samples/personal-website/partials-diagram.png') %>
    </div>
  

  </section>

  <!-- Next steps -->
  <section class="col-md-12">
<!--     <h1>Next Steps</h1>
     -->

    <div class="col-md-4">
      <h2>Evaluation</h2>
      <p>
        Overall I am happy with my website. It has a fun, modern scrolling landing page from which you can access my various projects and skill samples. My portfolio and resume are also available from the site. Some things need fixing but for now I am quite satisfied.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Moving to Wordpress</h2>
      <p>
        I've started learning Wordpress, which is what over 25% of the web is built on. I'm considering moving my website onto the platform because of its reliable content management system, as well as the plethora of plugins.
      </p>
    </div>

    <div class="col-md-4">
      <h2>Iterating on the design</h2>
      <p>
        I intend to further test out my site, as well as keep a look out for good designs and methods of representing my personal brand. I will continue to add things and remove things, allowing the site to naturally evolve.
      </p>
    </div>

  </section>

</main>