<%= render 'navigation/navbar_proj' %>
<main class="page-project" id="page-yelp">
  <%= image_tag('/images/work/project-samples/yelp/1.png') %>
  <%= image_tag('/images/work/project-samples/yelp/2.png') %>
  <%= image_tag('/images/work/project-samples/yelp/3.png') %>
  <%= image_tag('/images/work/project-samples/yelp/4.png') %>
</main>